name:

on:
  push

jobs:
  run_Tests:
    runs-on: ubuntu-latest


    steps:
        - name: Download selenoid
          run: curl -s https://aerokube.com/cm/bash  | bash
        - name: Extending the rights to launch the selenoid
          run: chmod +x ./cm
        - name: Launching a selenoid
          run: ./cm selenoid start --vnc
        - name: Launching a selenoid-ui
          run: ./cm selenoid-ui start

        - name: Build and test with Maven
          run: mvn clean test
          continue-on-error: true

        - name: Generate allure report
          uses: simple-elf/allure-report-action@master
          if: always()
          id: allure-report
          with:
            allure_results: allure-results
            gh_pages: gh-pages
            allure_report: allure-report
            allure_history: allure-history

        - name: Create a gh-pages branch containing allure report
          if: always()
          uses: peaceiris/actions-gh-pages@v2
          env:
            PERSONAL_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            PUBLISH_BRANCH: gh-pages
            PUBLISH_DIR: allure-history



